body {background-image:url('img/blossom.jpg');background-size:cover;position:fixed;}

.navbar-inverse {background-color:#fff;}

.navbar-inverse .navbar-brand {color:#333;}

.navbar-inverse .navbar-nav > li > a {color:#333;}
