body {}

#body-bg {z-index:-1;background-image:url('../img/blossom.jpg');background-size:cover;position:fixed;width:100%;height:100%;}

.navbar {margin-bottom:0;}

.navbar-inverse {background-color:#fff;}

.navbar-inverse .navbar-brand {color:#333;}

.navbar-inverse .navbar-nav > li > a {color:#333;}

.container {background-color:#fff;}

.container  #page1 {background-color:none;}