.input-group {
  padding: 5px;
}

footer {
  padding-left: 10px;
}

h2 {
  text-align: center;
  font-size: 45px;
}

.buttonStyles {
  text-align: center;
  padding-top: 20px;
}

.iconStyle {
  padding-right: 7px;
}