body > div {height:100vh;}

.container {}
.intro-header .container {height:400px;position: absolute;left:0;right:0;top:0;bottom:0;margin:auto;}

.intro-header {
  margin-top:40px;
  text-align: center;
}

.intro-message {text-align: center;}

#footerStyle {
    position: fixed;
    bottom: 0;
    width: 80%;
    height: 70px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #eee;
    margin: auto;
    left: 0;
    right: 0;
    padding: 10px;
}

#footerStyle h1 {margin:0;display:inline-block;}
#footerStyle ul {display:inline-block;}
#footerStyle li {width:30%;display:inline-block;}
#footerStyle select.form-control {width: 30%; display:inline-block;}
#footerStyle button{float:right;}
