body{
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 3em;
  margin-bottom: 3%;
  margin-top: 5%;

}

.container{
  width: 95%;
  height: 100vh;
}

h2{
  font-size: 2em;
}

#buttons button{
  margin-top: 30%;
  font-size: 2em;
  margin-left: 2%;
}
#landingContent{
  text-align: center;
}

#landingContent p{
  font-size: 2em;
}

/* PAGE2 CSS */

#page2 p{
  font-size: 1.8em;
  margin-bottom: 10%;
  text-align: center;
}
#page2 img{
  border-radius: 100%;
  width: 55%;
  margin-bottom: 10%;
}

#page2 button{
  margin-top: 5%;
  font-size: 2em;
}

#page2{
  text-align: center;
}

/* PAGE 3 CSS*/
#page3 img{
  width: 100%;
}
#page3 h1{
  margin-top:2%;
  margin-bottom: 5%;
}

/* TYPED JS */
/* code for animated blinking cursor */
        .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
