
h1{
  font-size: 5em;
  margin-bottom: 3%;
  margin-top: 10%;
}
.container{
  width: 95%;
  height: 100vh;
}

h2{
  font-size: 3em;
}

#buttons button{
  margin-top: 7%;
  font-size: 2em;
  margin-left: 2%;
}
#landingContent{
  text-align: center;
}

#landingContent p{
  font-size: 2em;
}

/* PAGE2 CSS */
#info h1{
  margin-top: 2%;
}

#info h2{
  position:absolute;
}
#info img{
  margin-bottom: 3%;
  width: 17%;
  float: right;
}
#info button{
  font-size: 2em;
  margin-left: 48%;
}


/* PAGE 3 CSS*/
#whoUse img{
  width: 100%;
}
#whoUse h1{
  margin-top:2%;
  margin-bottom: 5%;
}
