body {
  color: #333;
  margin: 0;
  height: 100%;
  padding: 0;
}


#siteAdmin{
  color: rgba(#1277c1, 0.72);
  font-family: fantasy;
  }
.mainNav > li{
  padding-right: 15px;

}
.dashboard-h2-style {
  font-size: 40px;
  padding-bottom: 10px;
}


/*** divs to hide ***/
.account, .site1, .site2, .domains, .header-alert, .paragraph-alert, .background-alert, .theme-alert {
  display: none;
}

.main-container {
  height: 100vh;
}

.full-height {
  height: 100%;
}

.header {
  background-color: #333;
  border-bottom: #ccc;
  color: #fff;
}

.bg-silver {
  background-color: #ccc;
}

.bg-image {
/*
  background-image: url(../../img/bg-blur.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
*/
}

.bg-blur {
/*
  -webkit-filter: blur(5px);
  filter: blur(5px);
*/
}

.logo h2 {
  text-align: center;
  font-size: 50px;
  font-family: cursive;
}

/*** Main Nav ***/

.mainNav {
  list-style-type: none;
  text-align: center;
  padding-top: 55px;
}

.mainNav a {
  color: #ccc;
  font-size: 20px;
}

.mainNav a:hover {
  text-decoration: none;
  color: floralwhite;
}

a:visited {
  color: #ccc;
  text-decoration: none;
}

.mainNav li {
  display: inline;
}

/*** Side Nav ***/

.side-nav1 {
  background-color: #333;
  color: #ccc;
  border-top: 1px solid #ccc;
  margin-bottom: 0;
}

.logo a {
  color: #ccc;
}

.logo a:hover {
  text-decoration: none;
  text-shadow: 0.5px 0.5px #ccc;
}


.side-nav1 h2 {
  text-align: center;
}

ul.sideNav {
  font-size: 30px;
  padding-left: 20px;
  list-style-type: none;
}

ul.sideNav a {
  color: #ccc;
}

/*** Dropdown ***/

.dropdown {
  width: 100%;
}

.dropdown-btn {
  width: 100%;
}

#active-dropdown-text {
  font-size: 20px;
}

.caret {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #333;
  color: #fff;
}

ul.dropdown-menu {
  width: 100%;
}

/*** Edit Font options ***/

.edit-button {
  text-align: center;
}

span.serif-font {
  font-family: serif;
  font-size: 20px;
}

span.sans-serif-font {
  font-family: sans-serif;
  font-size: 18px;
}

span.cursive-font {
  font-family: cursive;
  font-size: 20px;
}

span.firebrick-red {
  color: firebrick;
}

span.collosal-blue {
  color: cornflowerblue;
}

span.tango-orange {
  color: darkorange;
}

.edit .input-group {
  padding: 5px;
}

.edit h2 {
  text-align: center;
}

.edit h1 {
  text-align: center;
  font-size: 45px;
  padding-top: 15px;
  padding-bottom: 30px;
}


.sideNav a {
  color: #333;
}

.sideNav a:hover {

}


/*** Panel Styles ***/

.panel-default > .panel-heading {
  background-color: #333;
  color: #ccc;
}

.btn-default {
  color: #333;
}

.change-pass-btn {
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
}

.change-email-btn {
  padding-top: 15px;
  text-align: center;
}

.iconStyle {
  padding-right: 5px;
}
.panels-style {
  margin-top: 40px;
}

.panelH3 {
  text-align: center;
  padding-bottom: 5px;
  margin-top: -5px;
}

.account {
  margin-top: 25px;
}

.account h2 {
  text-align: center;
}

.domains h2 {
  text-align: center;
}
